<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Koccars</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"  routerLink="/cars/add" >Araç Ekleme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  routerLink="/brands/add">Marka Ekleme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  routerLink="/colors/add">Renk Ekleme</a>
        </li>
        <app-cart-summary> </app-cart-summary>
      </ul>

      <form class="row g-2">
          <div class="col-auto">
            <button type="button"  class="btn btn-success mb-2 mb-lg-1" routerLink="/login">Giriş</button>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-primary mb-2 mb-lg-1" routerLink="/register">Kaydol</button>
          </div>
      </form> -->

      
      

      <!-- <div class="dropdown">
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          Giriş Yap
        </button>
        <form [formGroup]="loginForm" class="dropdown-menu p-2">
          <div class="mb-3">
            <label for="exampleDropdownFormEmail2" class="form-label">E-Posta</label>
            <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="örnek@örnek.com">
          </div>
          <div class="mb-3">
            <label for="exampleDropdownFormPassword2" class="form-label">Şifre</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Şifre Giriniz">
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck2">
              <label class="form-check-label" for="dropdownCheck2">
                Beni hatırla
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" (click)= "login()">Giriş Yap</button>
        </form>
      </div> 
     </div>
  </div>

  





</nav>-->


<nav>
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="/assets/img/logo.png" alt="Logo" width="100" height="50" class="d-inline-block align-text-top">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a style="cursor: pointer" class="nav-link px-2 link-body-emphasis" routerLink="/cars">ARAÇLAR</a></li>
          <li><a style="cursor: pointer" class="nav-link px-2 link-body-emphasis">MÜŞTERİLER</a></li>
          <li><a style="cursor: pointer" class="nav-link px-2 link-body-emphasis">BAYİLER</a></li>
        </ul>
        
      <div>
        <form class="row g-2">
          <div class="col-auto">
            <button type="button"  class="btn btn-success mb-2 mb-lg-1" routerLink="/login">Giriş</button>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-primary mb-2 mb-lg-1" routerLink="/register">Kaydol</button>
          </div>
      </form> 


      </div>
        <!-- <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="
            baseUrl + '525ccd07-af4d-4081-b363-06af904e5496_6_13_2023.JPG'
          " alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a style="cursor: pointer" class="dropdown-item" >New project...</a></li>
            <li><a style="cursor: pointer" class="dropdown-item" >Settings</a></li>
            <li><a style="cursor: pointer" class="dropdown-item" >Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a style="cursor: pointer" class="dropdown-item" >Sign out</a></li>
          </ul>
        </div> -->
      </div>
    </div>


    
  </header>




</nav>


