<!-- <div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Tarih seçiniz</h5></div>
      <div class="card-body">
        <form [formGroup]= "rentalAddForm">
          <div>
            <div class="mb-3">
              <div class="form-group">
                <label for="cardNumber" class="form-label">Kart numarası</label>
                <input
                  type="text"
                  class="form-control"
                  id="cardNumber"
                  formControlName="cardNumber"
                  maxlength="16"
                  name="cardNumber"
                />
              </div>
            </div>
            <div class="mb-3">
              <div class="form-group">
                <label for="cardOwnerName" class="form-label">Kart sahibi</label>
                <input
                  type="text"
                  class="form-control"
                  id="cardOwnerName"
                  formControlName="cardOwnerName"
                  name="cardOwnerName"
                />
              </div>
            </div>
            <div class="mb-3">
              <div class="form-group">
                <label for="date" class="form-label">Tarih (Ay/Yıl)</label>
                <input
                  type="text"
                  class="form-control"
                  id="date"
                  formControlName="date"
                  name="date"
                  maxlength="4"
                />
              </div>
            </div>
            <div class="mb-3">
              <div class="form-group">
                <label for="cvc" class="form-label">CVC</label>
                <input
                  type="text"
                  formControlName="cvc"
                  class="form-control"
                  id="cvc"
                  maxlength="3"
                  name="cardCvc"
                />
            </div>
            </div>
            <p class="card-text">Fiyatı {{ totalPrice | currency : "₺" }}</p>
          </div>

          <div class="form-group">
            <label for="pickupDate">Kiralama Tarihi:</label>
            <input
              type="Date"
              class="form-control"
              id="pickupDate"
              formControlName="pickUpDate"

            />
          </div>

          <div class="form-group">
            <label for="returnDate">Teslim Tarihi:</label>
            <input
              type="Date"
              class="form-control"
              id="returnDate"
              formControlName="returnDate"

            />
            <br />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="button"  class="btn btn-success col-md-12"> 
          Tamamla
        </button>
      </div>
    </div>
  </div>
</div> -->
